@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href="/Reporte/Inicio">Reportes</a></li>
                <li>
                    <a href="#">Vehículos</a>
                    <ul>
                        <li><a href="/Vehiculo/ListaVehiculos">Lista Vehículos</a></li>
                        <li><a href="/Vehiculo/AgregarVehiculo">Agregar Vehículo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Servicios</a>
                    <ul>
                        <li><a href="/Servicio/ListaServicios">Lista Servicios</a></li>
                        <li><a href="/Servicio/AgregarServicio">Agregar Servicio</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
